[Unit]
Description={{ medusa_nft_description }}
After=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/nft -f {{ medusa_nft_file }}

[Install]
WantedBy=multi-user.target
