[defaults]
inventory = ../generated/ansible/inventory/hosts.ini,../generated/ansible/inventory/medusa-groups.yml
roles_path = roles
host_key_checking = True
retry_files_enabled = False
local_tmp = .cache/tmp
remote_tmp = /tmp/.ansible-${USER}/tmp

[ssh_connection]
ssh_args = -F /dev/null -C -o ControlMaster=auto -o ControlPersist=60s
control_path_dir = .cache/cp
pipelining = False
usetty = False
